/* CSS */
/* box */
.dialogBox {
    background-color: white;
    width: 90%;
    border: 2px #0c97e2 solid;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #0c97e2, -10px -10px 20px #ffffff;
    background-color: white;
}
/* menu */
.dialogBox > div:nth-child(2) {
    background: transparent linear-gradient(90deg, blue 0%, lightblue 50%, blue 100%) 0% 0% no-repeat padding-box;
    height: 3px;
}
