/*
.dialogBox > div:first-child {
    display: flex;
    cursor: move;
}
.dialogBox > div:first-child > div:nth-child(2) {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
*/
/*
.dialogBox > div:first-child > div {
    display: inline-block;
}
*/
/* wrapper */
.dialogWrapper {
    background-color: silver;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}
.wrapperShow {
    display: block;
    height: var(--wrapper-height);
    width: var(--wrapper-width);
}
.wrapperHide {
    display: none;
    width: 0px;
    height: 0px;
    z-index: unset !important;
}

.dialogHelp *, .dialogInfo * {
    width: 100%;
}

.minimized > div {
    /*display: none !important;*/
    
}
.minimized > div > div:nth-child(2) {
    font-weight: bold;
}
/*
.dialogBox > div:first-child > div:nth-child(3) {
    display: table;
}
*/
.dialogBox > div:first-child > div:nth-child(3) > div {
    display: table-cell;
}

@media screen and ( min-width: 480px ){
    .dialogBox > div:first-child > div:nth-child(2) {
        margin-top: 0.3em;
    }
    .dialogBox > div:first-child > div:nth-child(2) {
        font-size: 1.1em;
        font-weight: bold;
    }
    
}